<!-- see: https://www.bennadel.com/blog/3512-playing-with-recursive-ng-template-references-in-angular-6-1-10.htm -->

<ng-template #listTemplateRef let-list let-index="index">
<ul class="book-content">
    <li class="book-content-list" *ngFor="let item of list">
      <span class="content-dropdown" *ngIf="item.subitems.length > 0">
        <mat-icon (click)="toggleSubtree(item.href)">navigate_next</mat-icon>
      </span>
      <a [href]="item.href" (click)="jump($event)" class="book-content-name">{{item.label}}</a>
      <div *ngIf="item.subitems.length > 0 && openedMenus[item.href]">
        <ng-template
          [ngTemplateOutlet]="listTemplateRef"
          [ngTemplateOutletContext]="{ $implicit: item.subitems }"
        ></ng-template>
      </div>
    </li>
  </ul>
</ng-template>

<div class="book-content-container">
  <ng-template
    [ngTemplateOutlet]="listTemplateRef"
    [ngTemplateOutletContext]="{ $implicit: toc }"
  ></ng-template>
</div>
