.lib-filters {
  position: absolute;
  left: 0;
  top: 48px;
  width: 180px;
  height: calc(100% - 47px);
  font-family: system-ui;
}

.lib-filters-group {
  margin-top: 20px;

  .lib-filters-subtitle {
    font-size: 0.8rem;
    color: #999;
    margin: 10px;
  }

  .lib-filters-item {
    font-size: 0.9rem;
    color: #666;
    display: flex;
    align-items: center;
    cursor: pointer;
    padding: 8px 12px;
    border-radius: 4px;

    mat-icon {
      font-size: 1.1rem;
      height: 1.1rem;
    }

    &.active {
      background-color: #eeeeee66;
    }

    &:hover {
      background-color: #eeeeeeaa;
    }
  }
}
