<div class="reader-buttons">
  <div class="buttons-top-left">
    <button mat-icon-button (click)="openNavigation()">
      <mat-icon>toc</mat-icon>
    </button>
    <button mat-icon-button (click)="openNavigation()">
      <mat-icon>bookmarks</mat-icon>
    </button>
    <button mat-icon-button (click)="openNavigation()">
      <mat-icon>notes</mat-icon>
    </button>
  </div>

  <div class="buttons-top-right">
    <button mat-icon-button (click)="toggleFullscreen()">
      <mat-icon>{{isFullscreen ? 'fullscreen_exit' : 'fullscreen'}}</mat-icon>
    </button>
    <button mat-icon-button (click)="openSettings()">
      <mat-icon>settings</mat-icon>
    </button>
  </div>

  <div class="buttons-next-previous">
    <button mat-fab (click)="previous()" class="button-previous">
      <mat-icon>navigate_before</mat-icon>
    </button>
    <button mat-fab (click)="next()" class="button-next">
      <mat-icon>navigate_next</mat-icon>
    </button>
  </div>
</div>
