/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/prebuilt-themes/indigo-pink.css";

::-webkit-scrollbar {
  width: 0.2rem;
  height: 0.2rem;
  background: hsla(0, 0%, 100%, 0.1);
}

::-webkit-scrollbar-track {
  border-radius: 0;
}

::-webkit-scrollbar-thumb {
  border-radius: 0;
  background-color: rgba(95, 95, 95, 0.4);
  transition: all 0.2s;
  border-radius: 0.5rem;
}
::-webkit-scrollbar-thumb:hover {
  background-color: rgba(95, 95, 95, 0.7);
}

.epub-container {
  overflow-x: hidden!important;
}
.reading-settings-dialog-panel .mat-dialog-container {
  overflow-x: hidden!important;
}

.reading-navigation-dialog-panel .mat-dialog-container {
  padding: 0;
}

.import-books-drop-zone-class {
  height: calc(100% - 20px);
  border: 4px dashed #8080802e;

  .file-over & {
    border: 4px dashed #ff4081;
  }

  &.ngx-file-drop__drop-zone--over {
    background-color: transparent!important;
  }

  .import-books-drop-zone-content-class {
    height: 100%;
    display: flex;
  }
}

.book-cords-drop-zone-class,
.book-cords-drop-zone-content-class {
  width: 100%;
  height: 100%;
}
